html,
body {
	scroll-behavior: smooth;
}

/* React Tags Component */
.rti--container {
	background-color: transparent !important;
	border: 1px solid #375896 !important;
}

.rti--input {
	padding: 3px;
	background-color: transparent;
}

.rti--tag {
	background-color: #375896 !important;
	color: #fff !important;
	padding: 0 10px !important;
}

/* React Quill Component */
.ql-toolbar {
	background-color: white;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.ql-container.ql-snow {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.ql-editor {
	min-height: 150px;
}

/* File uploader component */
.ewqTBN {
	min-width: 100% !important;
	height: 180px !important;
	border-color: 1px dashed #375896;
}
